{% extends "landing/base.html" %}
{% block content %}
    <div>
        <h2>Your Messages</h2>
        {% if messages %}
            <div>
                <form method="POST" action="{% url 'cv_upload:delete_all_messages' %}" onsubmit="return confirm('Are you sure you want to delete ALL messages? This action cannot be undone.');">
                    {% csrf_token %}
                    <button type="submit">Delete All Messages</button>
                </form>
            </div>
            {% for message in messages %}
                <div>
                    <div>
                        From: {{ message.sender }}
                        <span>{{ message.created_at|date:"F d, Y" }}</span>
                    </div>
                    <div>
                        <h3>{{ message.subject }}</h3>
                        <p>{{ message.content }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No messages to display.</p>
        {% endif %}
    </div>
{% endblock content %}
